@import url("https://db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon");
@import url("https://db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB");
@import url("https://db.onlinewebfonts.com/c/6e5393a64ca23c455e8568d409e82da6?family=Pokemon+Hollow");
@import url("https://db.onlinewebfonts.com/c/36d26dbcd032a9d91d891c9f22dfdec6?family=Pokemon+Solid");

/* CSS FONT ATTEMPTS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; --> adding to search bar line 82 */ 
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* backup for nav bar */
@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

/* Ianne's CSS */
body {
  margin: 0px;
  /* background-color: red; */
  /* font-family: "Pokemon Hollow"; */
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em 0.5em 0em 0px;
    color: white;
    border-bottom: solid black 2px;
    margin: 0;
    background-color: #3D7DCA;
    font-family: "Pokemon", 'Rubik Mono One', sans-serif;;
    letter-spacing: 3px;
}

.nav .nav-icon{
  margin-right: auto;
  font-size: 1.7em;
  font-family: "Pokemon", "Shojumaru", cursive
}

.nav li {
    margin: 0em 1em 0em 0.5em;
}



/* GRID ATTEMPT */
.search-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas: 
  ". main ."
  ;
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png");
  background-repeat: no-repeat; 
  background-size: cover;
}

main {
  grid-area: main;
}

main h1 {
  margin: 1em 0 0.25em 0;
  font-family: "Pokemon Hollow","Pokemon", "Shojumaru", cursive ;
  letter-spacing: 3px;
  font-size: 2.5em;
}

section {
  display: flex;
}

/* SEARCH */

form {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5em;
}

form ul {
  padding-left: 0px;
}

.search-input{
  width: 15rem;
  font-family:"Pokemon GB", "Press Start 2P";
  font-size: 1em;
  line-height: 4em;
  height: 3em;
}

.search-input::placeholder{
  overflow: visible;
}


/* DROP DOWN BUTTONS */

#dropMain {
  position: relative;
  display: inline-block;
  background-color: white;
  border: solid #3D7DCA 3px;
  border-radius: 2px;
  font-size: 1em;
  font-family: "Pokemon";
  letter-spacing: 3px;
  padding: 0.5em;
}

#dropMainHead {
  text-align: center;
  width: 12em;
  margin: 0s.5rem 0px;
}


.dropdown {
  position: relative;
  display: inline-block;
  border: solid #ee1515 2px;
  background-color: white;
  font-size: 1em;
  font-family: "Pokemon";
  letter-spacing: 3px;
  margin: 0em 0.5em 0em 0.5em;
}

.drop-heading {
  text-align: center;
  width: 6em;
  margin: 0.5rem 0px;
}

.dropdown-content {
  display: none;
  width: 15em;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 3em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display:flex;
  flex-direction: column;
}

label{
  background-color: white;
  border: solid #FFDE00 2px;
  padding: 1em 1em;
}


.dropdown:hover .dropdown-content:hover label:hover{
  background-color: #3B4CCA;
  color: white;
}

/* CARD CONTAINER */

.card-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    border: solid black 2px;
    overflow: auto;
    height: 70vh;
    background: rgba(0, 0, 0, 0.5);
}

/* CSS HOVER OVERLAY */
.container {
    position: relative;
    transform: scale(.75);
    width: 18.33em;
    height: 25em;
  }
  
img {
    opacity: 1;
    display: block;
    width: 100%;
    height: inherit;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0em;
    object-fit: cover;
    object-position: top;
    
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover img {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: red;
    border-radius: 2px;
    color: white;
    font-family: "Pokemon";
    letter-spacing: 5px;
    font-size: 2rem;
    padding: 0.5em 1em;
    width: 7em;
    /* letter-spacing: 0.1em;; */
  }

  /* EDITORS PICK */

  .editor-container {
    margin: 0em 1.5em 0 3.5em;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
    font-family: "Pokemon Hollow";
  }

  .editor-container h1{
    text-align: center;
    margin: 0em;
  }

  .editor-pick {
    border: solid 1px black;
    height: 10em;
    width: 10em;
    margin: 1em 0;
  }