@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap);
@import url(https://db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@import url(//db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB);

.main{
background-color: #e63946;
width: 100vw;
height: 100vh;
background-image: url("./../Images/cardbg.png");
background-size: cover;
}

.cardbox{
display: flex;
position: absolute;
left: 25%;
top: 9%;
background-color: whitesmoke;
width: 40%;
height:500px;
border-radius: 4%;
padding: 10px;
border: 5px solid black;
max-width: 720px;
box-shadow: 10px 5px 5px darkred;
}

.card{
display: flex;
position: relative;
width: 350px;
height: 500px;
padding: 2px;
}

.cardinfo{
list-style-type: none;
background-color: lightgray;
padding: 15px;
border-radius: 4%;
font-family: 'Orbitron', sans-serif;
letter-spacing: 2px; 
}

.wrapper{
display: flex;
position: absolute;
top: 700px;
left: 25%;
height: 210px;
overflow-x: scroll;
justify-content: center;
border: 5px groove black;
border-radius: 3%;
min-width: 700px;
max-width: 700px;
box-shadow: 10px 5px 5px gray;
}

.wrapper .item{
display: flex;
justify-content: space-around;
width: 150px;
height: 190px;
padding: 1px;
object-fit: contain;
}
.wrapper .item:hover{
    display: flex;
    justify-content: space-around;
    width: 450px;
    height: 490px;
    padding: 2px;
    box-shadow: 10px 5px 5px black;
    z-index: 1;
    }

.cardboxlogo{
display: flex;
position: absolute;
width: 200px;
height: 200px;
margin-left: 15%;
margin-top: 60px;
}
.editor{
display: flex;
position: absolute;
color: black;
font-family: 'Orbitron', sans-serif;
letter-spacing: 1px; 
left: 25%;
top:  630px;
min-width: 200px;
background-color: whitesmoke;
margin-bottom: 300px;
padding: 5px;
border-radius: 15%;
border: 5px groove black;
z-index: 1;
box-shadow: 10px 5px 5px black;
}


